h1 {
  font-size:60px;
  color: white;
  /*font-family: 'Overpass', sans-serif;*/
  font-weight: bold;
  font-family: 'Lusitana', serif;
}

body {
  font-size: 16px;
  font-family: Helvetica;
  color: white;
}

article {
  padding: 40px 40px;
  background-color: black;
}

img{
  max-width: 100%;
}

.byline {
  font-size: 15px;
  font-family: Helvetica;
}

.dateline {
  font-size: 13px;
  color: gray;
}

figcaption {
  font-size: 11px;
  font-family: Helvetica;
}

h5{
  color: gray;
}

.contact{
  font-style: italic;
  font-size: 13px;
  color: gray;
  line-height: 1.2;
}